@model IEnumerable<PK.Models.Lista>
@using Microsoft.AspNetCore.Http
@{
    int[] basket = null;
    ViewData["Title"] = "Wyszukiwarka";
    int[] zakupione = (int[])ViewData["zakupione"];
    if (ViewData["koszyk"] != null)
    {
        basket = (int[])ViewData["koszyk"];
    }
    int typ = (int)ViewData["typ"];
    int category = (int)ViewData["kat"];
}
<head>
    <link rel="stylesheet" href="~/css/tabela.css" />
</head>

<h2 class="wynik">Wyszukania dla: @ViewData["typ2"], @ViewData["kat2"]</h2>


@{foreach (var item in Model)
    {
        string lokalizacja = @"/images/produkty/"+@item.ID+".jpg";
<div class="product">
    <div class="picture_movie">
        <img src="@lokalizacja" alt="Kadr z produktu" />
    </div>
    <div class="product_info">
        <div class="data">
            <div class="title">Tytuł: <strong>@item.Nazwa</strong></div>
            <div class="author">Autor: @item.Autor</div>
            <div class="date">Rok produkcji: @item.Rok</div>
            @if (Context.Session.GetString("Login") != null)
            {
                decimal cena = Math.Round(item.Cena_netto + (item.Cena_netto * (decimal)item.Stawka), 2);
                <div class="price">Cena: @cena zł</div>
            }
            else
            {
                <div class="price">Cena po zalogowaniu</div>
            }
        </div>
        <div class="details"><p class="no-mobile">@item.Opis_produktu</p><details class="mobile"><summary>Zobacz opis</summary><p>@item.Opis_produktu</p></details></div>
    </div>

    <div class="edit">
        @if (Context.Session.GetString("Login") != null)
        {
            bool noadd = false;
            bool remove = false;
            for (int i = 0; i < zakupione.Length; i++)
            {
                if (item.ID == zakupione[i])
                {
                    noadd = true;
                }

            }
            if (basket != null)
            {
                for (int i = 0; i < basket.Length; i++)
                {
                    if (item.ID == basket[i])
                    {
                        remove = true;
                    }

                }
            }


            if (noadd == false && remove == false)
            {
                <form asp-controller="Home" asp-action="SearchAdd" asp-route-a="@item.ID" asp-route-typp="@typ" asp-route-kategoriaa="@category">
                    <button class="add"></button>
                </form>
            }
            else if (noadd == true)
            {
                <div class="lock"></div>
            }
            else if (remove == true && noadd == false)
            {
                <form asp-controller="Home" asp-action="SearchRem" asp-route-a="@item.ID" asp-route-typp=" @typ" asp-route-kategoriaa=" @category">
                    <button class="remove"></button>
                </form>
            }

        }
        else
        {
            <button class="guest"></button>
        }
    </div>
</div>
    }
}
